# ===============================
# Maven / Java
# ===============================
target/
*.jar
*.war
*.class

# ===============================
# IntelliJ IDEA
# ===============================
.idea/
*.iml
*.iws
*.ipr

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Operating System
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Environment / Secrets
# ===============================
.env
.env.*
*.env

# ===============================
# Terraform
# ===============================
**/.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
crash.log
crash.*.log

# Keep Terraform lock file
!**/.terraform.lock.hcl